<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Blogs</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .width-full {
      background-color: black;
    }
    nav {
      padding: 2rem;
      max-width: 1000px;
      margin: auto;
    }
    ul {
      display: flex;
    }
    ul li {
      list-style: none;
      margin-right: 2rem;
      font-size: 1.2rem;
    }
    a {
      text-decoration: none;
      color: white;
    }
  </style>
  <body>
    <div class="width-full">
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Blogs</a></li>
          <li><a href="">Add Blog</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
