<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Blogs</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .width-full {
      background-color: black;
    }
    nav {
      padding: 2rem;
      max-width: 1000px;
      margin: auto;
    }
    ul {
      display: flex;
    }
    ul li {
      list-style: none;
      margin-right: 2rem;
      font-size: 1.2rem;
    }
    ul li a {
      text-decoration: none;
      color: white;
    }
    .blog {
      width: 100%;
      display: flex;
      max-width: 1000px;
      justify-content: space-between;
      padding: 1rem;
      margin: 1rem auto;
      border-bottom: 2px solid gray;
      box-shadow: 3px 3px gray;
    }
  </style>
  <body>
    <div class="width-full">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>

          <li><a href="addblogs">Add Blog</a></li>
        </ul>
      </nav>
    </div>
    <section class="allblogs">
      <% allBlogs.forEach((blog)=>{ %>
      <div class="blog">
        <div class="info">
          <h1><%- blog.title%></h1>
          <h3><%- blog.subTitle%></h3>
          <a href="/edit/<%-blog.id%>">Edit</a>
        </div>
        <div class="imgBox">
          <img
            src="<%-blog.imageUrl%>"
            alt=""
            style="width: 150px; height: 150px"
          />
        </div>
      </div>
      <% }) %>
    </section>
  </body>
</html>
